In [1]:
import pandas as pd
from shl.prepare import normalize_epoch_time
pd.set_option('display.max_columns', None)

In [2]:
train_label = normalize_epoch_time(pd.read_parquet('../data/train/Label.parquet'), 'epoch_time')
test_label = normalize_epoch_time(pd.read_parquet('../data/test/Label_idx.parquet'), 'epoch_time')
validate_label = normalize_epoch_time(pd.read_parquet('../data/validate/Label.parquet'), 'epoch_time')

In [5]:
train_location = normalize_epoch_time(pd.read_parquet('../data/train/Location.parquet'), 'epoch_time')
train_cells = normalize_epoch_time(pd.read_parquet('../data/train/Cells.parquet'), 'epoch_time')
train_gps = normalize_epoch_time(pd.read_parquet('../data/train/GPS.parquet'), 'Epoch time [ms]')
train_wifi = normalize_epoch_time(pd.read_parquet('../data/train/WiFi.parquet'), 'Epoch time [ms]')

validate_location = normalize_epoch_time(pd.read_parquet('../data/validate/Location.parquet'), 'epoch_time')
validate_cells = normalize_epoch_time(pd.read_parquet('../data/validate/Cells.parquet'), 'epoch_time')
validate_gps = normalize_epoch_time(pd.read_parquet('../data/validate/GPS.parquet'), 'Epoch time [ms]')
validate_wifi = normalize_epoch_time(pd.read_parquet('../data/validate/WiFi.parquet'), 'Epoch time [ms]')

test_location = normalize_epoch_time(pd.read_parquet('../data/test/Location.parquet'), 'epoch_time')
test_cells = normalize_epoch_time(pd.read_parquet('../data/test/Cells.parquet'), 'epoch_time')
test_gps = normalize_epoch_time(pd.read_parquet('../data/test/GPS.parquet'), 'Epoch time [ms]')
test_wifi = normalize_epoch_time(pd.read_parquet('../data/test/WiFi.parquet'), 'Epoch time [ms]')

In [16]:
train_location['location available'] = 1
train_cells['cells available'] = 1
train_gps['gps available'] = 1
train_wifi['wifi available'] = 1

validate_location['location available'] = 1
validate_cells['cells available'] = 1
validate_gps['gps available'] = 1
validate_wifi['wifi available'] = 1

test_location['location available'] = 1
test_cells['cells available'] = 1
test_gps['gps available'] = 1
test_wifi['wifi available'] = 1

In [17]:
train_availability = train_label.merge(train_location[['epoch_time_id', 'location available']].drop_duplicates(), how='left')\
                                .merge(train_cells[['epoch_time_id', 'cells available']].drop_duplicates(), how='left')\
                                .merge(train_gps[['epoch_time_id', 'gps available']].drop_duplicates(), how='left')\
                                .merge(train_wifi[['epoch_time_id', 'wifi available']].drop_duplicates(), how='left')

validate_availability = validate_label.merge(validate_location[['epoch_time_id', 'location available']].drop_duplicates(), how='left')\
                                      .merge(validate_cells[['epoch_time_id', 'cells available']].drop_duplicates(), how='left')\
                                      .merge(validate_gps[['epoch_time_id', 'gps available']].drop_duplicates(), how='left')\
                                      .merge(validate_wifi[['epoch_time_id', 'wifi available']].drop_duplicates(), how='left')

test_availability = test_label.merge(test_location[['epoch_time_id', 'location available']].drop_duplicates(), how='left')\
                              .merge(test_cells[['epoch_time_id', 'cells available']].drop_duplicates(), how='left')\
                              .merge(test_gps[['epoch_time_id', 'gps available']].drop_duplicates(), how='left')\
                              .merge(test_wifi[['epoch_time_id', 'wifi available']].drop_duplicates(), how='left')

In [18]:
train_availability

,epoch_time,label,epoch_time_id,location available,cells available,gps available,wifi available
0,1490431583000,4,1490431583000,NaN,NaN,1.0,1.0
1,1490431584000,4,1490431584000,NaN,NaN,1.0,1.0
2,1490431585000,4,1490431585000,NaN,NaN,1.0,1.0
3,1490431586000,4,1490431586000,NaN,NaN,1.0,NaN
4,1490431587000,4,1490431587000,NaN,NaN,1.0,1.0
...,...,...,...,...,...,...,...
980522,1499267848000,5,1499267848000,1.0,1.0,1.0,1.0
980523,1499267849000,5,1499267849000,1.0,1.0,1.0,1.0
980524,1499267850000,5,1499267850000,1.0,1.0,1.0,1.0
980525,1499267851000,5,1499267851000,1.0,1.0,1.0,1.0
980526,1499267852000,5,1499267852000,1.0,1.0,1.0,1.0

In [19]:
train_availability.count().to_frame()

                         0
epoch_time          980527
label               980527
epoch_time_id       980527
location available  660853
cells available     791287
gps available       752825
wifi available      668613

In [20]:
validate_availability.count().to_frame()

                         0
epoch_time          143958
label               143958
epoch_time_id       143958
location available   84469
cells available      79522
gps available        99742
wifi available       93591

In [21]:
test_availability.count().to_frame()

                         0
epoch_time          671172
epoch_time_id       671172
location available  463056
cells available     409163
gps available       531855
wifi available      471410